.eam-section-1 {
    padding: 93px 0 202px;
    background: {
        image: url(../images/eam-section-1.png);
        size: cover;
        position: top center;
        repeat: no-repeat;
    }

    .eam-main {
        position: relative;
    }

    &__logo {
        margin-bottom: 90px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__btn {
        width: 214px;
        margin-bottom: 69px;
    }

    &__small-text {
        color: rgba(146, 152, 156, 0.98);
        font: {
            size: 14px;
        }
    }

    &__text {
        color: #a2aaae;
        font-size: 16px;
        width: 416px;
        line-height: 1.5;

        margin-bottom: 37px;

        &--third {
            width: 383px;
        }
    }

    &__form {
        position: absolute;
        top: 75px;
        right: 0;
    }

    // second page
    &--second {
        background-image: url(../images/eam-section-1-2.jpg);
    }

    &__logo-second {
        margin-bottom: 56px;
    }

    &__title-second {
        margin-bottom: 29px;
    }

    &__btn-second {
        width: 320px;
        margin-bottom: 40px;
    }

    &__adaptive-img {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-top: -125px;
        height: auto;
        z-index: -1;
        position: relative;
        display: none;

        img {
            width: 100%;
        }
    }

    // third page
    &--third {
        background-image: url(../images/eam-section-1-3.jpg);
    }

    &__logo-third {
        margin-bottom: 65px;
    }

    &__title-third {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 1123px) {
    .eam-section-1 {
        padding: 45px 0 60px;
        background-image: url(../images/eam-section-1-white.jpg);

        &--second, &--third {
            background-image: none;

            padding-top: 22px;
        }

        &__adaptive-img {
            display: block;
        }

        &__logo {
            margin-bottom: 40px;
        }

        &__title {
            margin-bottom: 27px;
        }

        &__btn {
            width: 280px;
            margin-bottom: 37px;
        }

        &__small-text {
            padding-right: 100px;

            &--second {
                padding-right: 0;
                font-size: 16px;
            }
        }

        &__text {
            width: 100%;
            margin-bottom: 29px;
        }

        &__btn-second {
            width: 280px;
            margin-bottom: 25px;
            span {
                font-size: 16px;
            }

        }

        &__form {
            position: static;
            width: calc(100% + 40px) !important;
            margin-left: -20px !important;
        }

        &__title-third {
            margin-bottom: 15px;
        }
    }
}
