.eam-company-logos {
    &--intel {
        width: 147px;
        height: 39px;
    }
    &--air {
        width: 104px;
        height: 69px;
    }
    &--apriori {
        width: 143px;
        height: 54px;
    }
    &--club {
        width: 85px;
        height: 90px;
    }
    &--santeh {
        width: 91px;
        height: 76px;
    }
    &--alie {
        width: 85px;
        height: 84px;
    }
    &--glavbuh {
        width: 205px;
        height: 45px;
    }
    &--modern {
        width: 145px;
        height: 58px;
    }
    &--ics {
        width: 80px;
        height: 61px;
    }
    &--ego {
        width: 159px;
        height: 57px;
    }
    &--ics2 {
        width: 155px;
        height: 65px;
    }
}
