.eam-footer {

    .eam-main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 127px;

    }

    color: #949ea4;;
    letter-spacing: 1.9px;
    font-size: 16px;
}
