.eam-section-3 {
    padding: 287px 0;
    background: {
        image: url(../images/eam-section-3.jpg);
        size: cover;
        position: top center;
    }

    .eam-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__btn {
        width: 357px;
        font-size: 18px;
    }

    &__btn2 {
        width: 314px;
        font-size: 18px;
    }

    &__title {
        margin-bottom: 56px;

        &--second {
            color: #424e54 !important;
        }

        &--third {
            margin-bottom: 45px;
        }
    }

    &__subtext {
        color: white;
        font-size: 16px;
        font-weight: 300;
        margin-top: 50px;
        letter-spacing: 2px;
    }

    &--second {
        background-image: url(../images/eam-section-3-2.jpg)
    }

    &--third {
        background-image: url(../images/eam-section-3-3.jpg)
    }
}

@media screen and (max-width: 1123px) {
    .eam-section-3 {
        padding: 95px 0 150px;

        &__title {
            margin-bottom: 40px;

            &--third {
                font-size: 22px !important;
                padding: 0 40px;
            }
        }

        &__btn {
            width: 280px;
            font-size: 14px;
        }

        &__btn2 {
            width: 280px;
            font-size: 18px;
        }

        &__subtext {
            margin-top: 40px;
        }
    }
}
