.eam-main {
    width: 1302px;
    margin: 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 1410px) {
    .eam-main {
        width: calc(100% - 40px);
    }
}

@media screen and (min-width: 1123px) {
    .eam-desktop-hide {
        display: none;
    }
}

@media screen and (max-width: 1123px) {
    .eam-adaptive-hide {
        display: none;
    }
}
